[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=shuffle
Exec=shuffle
Name=shuffle
# translation example:
# your app name in German locale (de)
Name[de]=shuffle

